//Global Settings

#clientOrOrg {
    width: 320px;
    height: 132px; 
    border: 2px solid #585858;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  
    
   

}

//Text

 
p, a {

    font-size: 1.6rem; 
    color: black;
}



//Link



a {

    text-decoration: none;
}




//Buttons

.w3-button { 


    @include btndefault(251px, 37px, 6px); 


} 
 .joinBtn
{
 
    @include btndefault(125px, 40px, 10px); 


}

