//Image

#celebrationBoi {

    width: 291px;
    height: 211px;
    background-image: url(/img/actioncelebrationclouds.jpg);
    background-size: 291px 211px;

}



    //Text

    #headingOrange {

        background-color: $pumpkinSpice; 
        
  
    
        h1 {
    
            color: $coconutCream; 
            
        }


}




#specialA {

    color: $shakespear;
    font-weight: bold;
    margin-right: 10px;
    padding: 0;
    text-align: left;
}


