



//Links

@mixin specialLink() {

    color: $shakespear;
    font-weight: bold;
    margin-right: 1rem;
    padding: 0;
    text-align: left;
    
}



//Buttons

@mixin btndefault ($width, $height, $radius) {
    width: $width;
    height: $height;
    border-radius: $radius;
    background-color: $pumpkinSpice;
    color: $coconutCream;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}


//images

@mixin aboutImg_Set($bg_img) {

background-image: $bg_img;
    
}