                                    //Vars  
  
//Color Scheme | $pumpkinSpice: #FF681F; | $shakespear: #4EABD1; |  $coconutCream: #F8F7DC; | $doveGray: #6D6C6C; | $codGray: #6D6C6C;

$pumpkinSpice: #FF681F;
$shakespear: #4EABD1;
$codGray: #6D6C6C;
$doveGray: #6D6C6C;
$coconutCream: #F8F7DC;


//Dimensions   $Mobile: (min-width:320px);  $Tablet: (min-width: 600px);  $Desktop:  (min-width: 1416px);

$Mobile: (min-width: 320px);
$Tablet: '(min-width: 600px)';
$Desktop:  '(min-width: 1416px)';


//Font family $fontFam: Noto Sans, sans-serif;

$fontFam: 'Noto Sans, sans-serif'; 
